
    <div class="main">

        <div class="halfblock">
            <div class="qrcontainer">
                <div class="dynqr">
                  <img class="qrimg" src= "{{ qr_url }}">
                </div>  
            </div>
        </div>

        <div class="halfblock">
            <div class="donutopener" onclick="toggleDonut()">
                Toggle Chart
            </div>
            <div class="donutdiv">

                <div class="donutcontainer">
                    <canvas id="PA_chart"  aria-label="chart" role="img" height="200" width="200"></canvas>
                </div>
            </div>
        </div>

    </div>  
