<table class= 'table'>
    <thead>
    {% for i in range (5)%}
        <th> Date {{ i }}</th>
    </thead>
    {% endfor %}
    {% for i in range (5)%}
        {% for username in range(10)%}
        <tr>
            {{ user}}
        </tr>
        <tr>
            Present/Absent
        </tr>
        {% endfor %}}
    {% endfor %}
</table>