<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 3rd-Party CSS Scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css">
    <!-- Custom CSS Scripts -->
    <link rel="stylesheet" href="/static/css/style.base.css">
    {% block css_block %}{% endblock css_block %}
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p class="title has-text-primary">Attendance.io</p>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            {% if current_user %}
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('routes.users.current_user') }}">
                        Profile
                    </a>
                    <a class="navbar-item" href="{{ url_for('routes.sched.home') }}">
                        Schedule
                    </a>
                    <a class="navbar-item" href="#">
                        Report
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{{ url_for('routes.auth.logout') }}">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{{ url_for('routes.auth.register') }}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{{ url_for('routes.auth.login') }}">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
            <div class="notification is-light is-{{ category }}">
                <p> {{ message }} </p>
            </div>
        {% endfor %}
    {% endwith %}
    {% block main %}
        <article class="container is-fullhd">
            {% block sub_main %}
            {% endblock sub_main %}
        </article>
    {% endblock main %}
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    {% block scripts_block %}{% endblock scripts_block %}
</body>

</html>