<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css">

<style type="text/css">
.dark{
    background-color: #001220;
}

.topfix{
    position: fixed;
    top:0px;
    width: 100%;
}

.atticon{
    background-color: #fff;
    border-radius: 50%;
    background-image: url("https://i.imgur.com/gry5fzw.png");
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.hovergreen{
    display: grid;
    place-items:center;
    padding: 0rem 0.6rem;
    margin: 0 1px;
    color: #fff;
    min-height: 50px;
}

.hovergreen:hover{
    color: #000;
    background-color: #42ddae;
}

#navbarBasicExample{
    background-color: #001220;
}    

.navbar-burger{
    color: #fff;
}

.navbar-burger:hover{
    color: #42ddae;
}

</style>


<style type="text/css">
    
.mainpage{
    padding-top: 100px;
    background-color: #001220;
    min-height: 100vh;
}   

.fwhite{
    color: #fff;
}

</style>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

        });
    }); 
});    
</script>


	<title></title>

<style type="text/css">

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.main{
	min-height: 100vh;
	background-color: #001220;
	padding-top: 80px;
}
	
</style>	

</head>
<body>

    <nav class="navbar dark topfix" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <div class="atticon" ></div>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="hovergreen" href="#">
                    Profile
                </a>
                <a class="hovergreen" href="#">
                    Attendance
                </a>
                <a class="hovergreen" href="#">
                    Generate Report
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="attgj.html" href="#first-section" class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

<div class="main">

    <div class="scheduleform">			

			<article class="container bcontainer">
			  <section class="hero">
			  <div class="hero-body">
			    <div class="container has-text-centered">
			      <p class="title fwhite bt">
			        Create a new Schedule
			      </p>
			    </div>
			  </div>
			</section>
			  <div class="columns is-centered">
			    <div class="column is-half">
			      <div class='box'>
			        <form action="#">

			          <div class="field">
			            <label class="label">Group Name</label>
			            <div class="control">
			              <div class="select is-fullwidth">
			                <select>
			                  <option>Group 1</option>
			                  <option>Group 2</option>
			                </select>
			              </div>
			            </div>
			          </div>

			          <div class="field">
			            <label class="label">Start Time</label>
			            <div class="control">
			              <input class="input" type="time" name='start_time' placeholder="Start Time" required>
			            </div>
			          </div>



			          <div class="field">
			            <label class="label">End Time</label>
			            <div class="control">
			              <input class="input" type="time" name='end_time' placeholder="End Time" required>
			            </div>
			          </div>



			          <div class="field">
			            <label class="label">Commencement Date</label>
			            <div class="control">
			              <input class="input" type="date" name='start_date' placeholder="Commencement Date" required>
			            </div>
			          </div>


			          <div class="field">
			            <label class="label">Title</label>
			            <div class="control">
			              <input class="input" type="text" name='title' placeholder="title">
			            </div>
			          </div>



			          <div class="field">
			            <label class="label">Status</label>
			            <div class="control">
			              <input class="input" type="text" name='status' placeholder="Status" required>
			            </div>
			          </div>


			          <div class="field">
			            <label class="label">Frequency</label>
			            <div class="control">
			              <input class="input" type="text" name='frequency' placeholder="Frequency" required>
			            </div>
			          </div>

			          <div class="control">
			            <button class="button is-primary">Submit</button>
			          </div>
			        </form>
			      </div>
			    </div>
			  </div>
			</article>

			<div>

		</div>
	</div>

</div>

</body>
</html>