{% extends "base.html.jinja" %}

{% block css_block %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.index.css') }}">
{% endblock css_block %}

{% block main %}
    <div class="main">
        <div class="nav">
            <div class="usericon">icon</div>
            {% for _ in range(3) %}
                <div class="navitem">nav item</div>
            {% endfor %}
            <div class="navicon">
                <div class="line l1"></div>
                <div class="line l2"></div>
                <div class="line l3"></div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block scripts_block %}
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock scripts_block %}