{% extends "base.html.jinja" %}

{% block sub_main %}

{% if current_user.role == 'admin' %}
    {% block scripts_block %}
        <script src="{{ url_for('static', filename='scripts/attendance-admin.js') }}"></script>
    {% endblock scripts_block %}
{% else %}
{% endif %}

{% endblock sub_main %}