{% extends "base.html.jinja" %}

{% block main %}

<div class='container'>

    <h1 class='title'>Generate QR Code</h1>

    <form>
        <div class="calender">
            <input type="date" id="cal">
        </div>

        <div class="calender">
            <input type="date" id="cal">
        </div>
        <div class="field">
            <p class="control">
                <button class="button">
                    Submit
                </button>
            </p>
        </div>
    </form>



</div>
{% endblock main %}