{% extends "base.html.jinja" %}

{% block main %}
<div class="container is-fullhd is-fluid">
    <section class="hero ">
        {# <div class="hero-body"> #}

        {# </div> #}
        <div class="columns is-centered is-vcentered is-desktop">
            <div class="column is-centered">
                <section class="hero">
                    <div class="hero-body">
                        <p class="title is-spaced">About</p>
                        <p class="subtitle">Marking Your Attendance Was Never this Easy.</p>
                         <p>We are providing you the best platform to record attendance for your organization.</p>
                         <p>Easily take attendance, Look at statistics of members, and store data for all your members.</p>
                </section>
            </div>
            <div class="column">
                {% include "impl/register.html.jinja" %}
            </div>
        </div>
    </section>
</div>
{% endblock main %}