{% extends "base.html.jinja" %}

{% block main %}
<article class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    Login
                </p>
            </div>
        </div>
    </section>
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div class='box'>
                <form method="POST" action="{{ url_for('routes.auth.login') }}">
                    {# username #}
                    <div class="field">
                        <label class="label">Username / E-mail Address</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Specify your username or e-mail address"
                                name='username' required value='{{ username }}'>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    {# password #}
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" name="password"
                                placeholder="Specify your account's password" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button class="button is-primary">Log-In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>
{% endblock main %}