{% extends "base.html.jinja" %}

{% block title %}
    {{ organization.Name }} (Organization)
{% endblock title %}

{% block sub_main %}
<div class="block mt-4 mb-6">
    <p class="title">Organization Details</p>
    <div class="box">
        {% include "impl/components/organization.html.jinja" %}
    </div>
</div>

<div class="block my-4">
    <h1 class="title">Organization Hierarchy</h1>
    <div class='columns'>
        <div class='column is-offset-10 is-2'>
            <div class='field is-grouped is-grouped-right'>
                <div class='control'>
                    <a class="button is-primary is-outlined" title="Add Group" href="{{ url_for('routes.group.create') }}">Add Group</a>
                </div>
            </div>
        </div>
    </div>
    {% for group in hierarchy %}
    <section class="box">
        {% if group.members %}
        <form action="{{ url_for('routes.group.move') }}" class="groupform" method="POST">
        {% endif %}
        <div class='columns'>
            <div class='column'>
                <div class="columns">
                    <div class="column">
                        <span class="title">Group {{ group.name or '<root>' | e }}</span>
                    </div>
                    <div class="column">
                        <nav class="breadcrumb is-right has-succeeds-separator" aria-label="breadcrumbs">
                            <ul>
                                {% for name in group.path %}
                                <li>
                                    <a> {{ name }} </a>
                                </li>
                                {% endfor %}
                                    {%- if group.name %}
                                        <li class="is-active">
                                            <a> {{ group.name }} </a>
                                        </li>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class='column'>
                <div class="field has-addons is-hidden">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            <select name="group">
                                {% for grp in hierarchy %}
                                    {% if grp.name != group.name %}
                                    <option value="{{ grp.name or '' }}"> Group {{ grp.name or '<root>' | e -}}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <input type="hidden" name="current_group" value="{{ group.name or '' }}">
                    </div>
                    <p class="control">
                        <input class="button is-primary is-outlined" type="submit" value="Move">
                    </p>
                </div>
            </div>
        </div>
        {% if group.members %}
        <div class="table-container">
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Name</th>
                        <th>E-Mail Address</th>
                        <th>Contact</th>
                        <th>Role</th>
                        {% if edit_mode %}
                            <th>Toggle Role</th>
                            <th>
                                <div class="field">
                                    <input class="is-checkradio select_all_members"
                                        id="select_all_in_{{ group.name or '__root__' }}" type="checkbox">
                                    <label for="select_all_in_{{ group.name or '__root__' }}"></label>
                                </div>
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for member in group.members %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="{{- url_for('routes.users.user', user_id=member.ID) -}}">
                                {{ member.Name }}
                            </a>
                        </td>
                        <td>
                            <a href="mailto:{{- member.Email or '' -}}">
                                {{ member.Email or 'Unknown' }}
                            </a>
                        </td>
                        <td>
                            <a href="tel:{{- member.Contact or '' -}}">
                                {{ member.Contact or 'Unknown' }}
                            </a>
                        </td>
                        <td>{{ member.Role }}</td>
                        {% if edit_mode %}
                            <td>
                                <div class="field">
                                    <input id="switchColorDefault{{ group.name or '__root__' }}{{loop.index}}" type="checkbox"
                                        class="switch" {{ 'checked' if member.Role == 'admin' else '' }}>
                                    <label for="switchColorDefault{{ group.name or '__root__' }}{{loop.index}}"></label>
                                </div>
                            </td>
                            <td>
                                <div class="field">
                                    <input class="is-checkradio" id="checkbox{{ group.name or '__root__' }}{{loop.index}}"
                                        type="checkbox" name="user_ids" value="{{ member.ID }}">
                                    <label for="checkbox{{ group.name or '__root__' }}{{loop.index}}"></label>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </form>
        {% else %}
        <div class="notification is-info is-light">
            <p>This group does not have any exclusive members.</p>
        </div>
        {% endif %}
    </section>
    {% endfor %}
    </div>
{% endblock sub_main %}

{% block scripts_block %}
    <script src="{{ url_for('static', filename='scripts/organization.js') }}"></script>
{% endblock scripts_block %}