<article class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    Profile
                </p>
            </div>
        </div>
    </section>
    <div class="columns is-centered">
        <div class="column is-12">
            <div class='box'>
                <form action="#">
                    {# organization details #}

                    {# Organization name #}
                    <p class="title">
                        Organization's Details
                    </p>
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input is-static" type="text" name='Name' placeholder="Name" readonly>
                        </div>
                    </div>

                    {# Organization address #}
                    <div class="field">
                        <label class="label">Address</label>
                        <div class="control">
                            <input class="input is-static" type="text" name='Address' placeholder="Name" readonly>
                        </div>
                    </div>

                    {# Organization email #}
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input is-static" type="email" name='Email' placeholder="Email@abc.com"
                                readonly>
                        </div>
                    </div>

                    {# Organization code #}
                    <div class="field">
                        <label class="label">Code of the Organization</label>
                        <div class="control">
                            <input class="input is-static" type="text" name='Code' placeholder="Code" readonly>
                        </div>
                    </div>

                    {# User details #}
                    <p class="title">
                        Personal Details
                    </p>
                    {# user name #}
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input is-static" type="text" name='name' placeholder="Name" readonly>
                        </div>
                    </div>


                    {# user email #}
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input is-static" type="email" name='e-mail' placeholder="Email@abc.com"
                                readonly>
                        </div>
                    </div>

                    {# user contact #}
                    <div class="field">
                        <label class="label">Contact</label>
                        <div class="control">
                            <input class="input is-static" type="text" name='contact' placeholder="Contact" readonly>
                        </div>
                    </div>

                    {# save button #}
                    <div class="control">
                        <button class="button is-primary">Save Details</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>