<article class="container">
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    Profile
                </p>
            </div>
        </div>
    </section>
    {% if not user %}
    <div class='notification is-danger is-light'>
        <p>
            The page for this user does not exist. Try again if this seems to be an error.
        </p>
    </div>
    {% else %}
    <div class="columns is-centered">
        <div class="column is-12">
            <section class='block'>
                <p class="title">Organization Details</p>
                <div class='box'>
                    {# organization details #}
                    {% include "impl/components/organization.html.jinja" %}
                </div>
            </section>
            <section class='block'>
                <h1 class="title"> Personal Details </h1>
                <div class='box'>
                    {# User details #}
                    <form action="{{ url_for('routes.users.edit_user') }}" id="userform">
                        {# user name #}
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input is-static" type="text" name='name'
                                    placeholder="Name" readonly
                                    value="{{ user.Name }}">
                            </div>
                        </div>

                        {# user name #}
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input class="input is-static" type="text" name='username'
                                    placeholder="Username" readonly
                                    value="{{ user.Username }}">
                            </div>
                        </div>

                        {# user email #}
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input is-static" type="email" name='e-mail'
                                    placeholder="E-mail address" readonly
                                    value="{{ user.Email or '' }}">
                            </div>
                        </div>

                        {# user contact #}
                        <div class="field">
                            <label class="label">Contact</label>
                            <div class="control">
                                <input class="input is-static" type="tel" name='contact'
                                    placeholder="Contact" readonly
                                    value="{{ user.Contact or '' }}">
                            </div>
                        </div>

                        {# user designation #}
                        <div class="field">
                            <label class="label">Designation</label>
                            <div class="control">
                                <input class="input is-static" type="text" name='designation'
                                    placeholder="Designation" readonly
                                    value="{{ user.Designation or '' }}">
                            </div>
                        </div>

                        {# user address #}
                        <div class="field">
                            <label class="label">Address</label>
                            <div class="control">
                                <input class="input is-static" type="text" name='address'
                                    placeholder="Address" readonly
                                    value="{{ user.Address or '' }}">
                            </div>
                        </div>

                        {% if current_user and current_user.ID == user.ID %}
                            {# save button #}
                            <div class="field is-grouped is-grouped-right">
                                <div class="control">
                                    <button class="button is-primary" id="edit">Edit</button>
                                </div>
                            </div>
                            <div class="field is-grouped is-grouped-right">
                                <div class="control">
                                    <input type="reset" class="button is-light is-hidden" id="cancel" value="Cancel">
                                </div>
                                <div class="control">
                                    <input type="submit" class="button is-primary is-hidden" id="save" hidden value="Save">
                                </div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </section>
        </div>
    </div>
    {% endif %}
</article>

{% if current_user and current_user.ID == user.ID %}
    {% block scripts_block %}
        <script src="{{ url_for('static', filename='scripts/user.js') }}"></script>
    {% endblock %}
{% endif %}