{# {% extends "base.html.jinja" %} #}

{# {% block main %} #}
<article class="container">
  <section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Register
      </p>
      <p class="subtitle">
        Create a new User account
      </p>
    </div>
  </div>
</section>
  <div class="columns is-centered">
    <div class="column is-half">
      <div class='box'>
        <form action="#">
          {# name #}
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name='name' placeholder="Name" required>
            </div>
          </div>

          {# username #}
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Username" name='username' required>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>

          {# email #}
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" name='e-mail' placeholder="E-mail Address" value="" required>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
          </div>

          {# password #}
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="Password" required>
            </div>
          </div>

          {# organization #}
          <div class="field">
            <label class="label">Organization</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </div>
            </div>
          </div>

          {# submit button #}
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</article>

<div>
  {# {% endblock main %} #}