{% extends "base.html.jinja" %}

{% block css_block %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.sched.css') }}">
{% endblock css_block %}

{% block sub_main %}
    <div style='overflow-y: scroll !important'>
        <table class='table is-fullwidth is-bordered is-hoverable'>
        <thead>
            <tr>
                {% for date in dates %}
                    <th class="is-clickable">
                        <div>
                            <span class='title has-text-primary is-centered'>{{ date | field('%d') }}</span>
                            <span class='subtitle has-text-primary is-centered'>{{ date | field('%B') }}</span>
                        </div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for i in range(24) %}
            <tr>
            {% for j in range(7) %}
                <td class="is-clickable">&nbsp;</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock sub_main %}