{% extends "base.html.jinja" %}

{% block sub_main %}

<div class="scheduleform">

    <article class="container bcontainer">
        <section class="hero">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title fwhite bt">
                        Create a new Schedule
                    </p>
                </div>
            </div>
        </section>
        <div class="columns is-centered">
            <div class="column is-half">
                <div class='box'>
                    <form action="#">

                        <div class="field">
                            <label class="label">Group Name</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select>
                                        <option>Group 1</option>
                                        <option>Group 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Start Time</label>
                            <div class="control">
                                <input class="input" type="time" name='start_time' placeholder="Start Time" required>
                            </div>
                        </div>



                        <div class="field">
                            <label class="label">End Time</label>
                            <div class="control">
                                <input class="input" type="time" name='end_time' placeholder="End Time" required>
                            </div>
                        </div>



                        <div class="field">
                            <label class="label">Commencement Date</label>
                            <div class="control">
                                <input class="input" type="date" name='start_date' placeholder="Commencement Date"
                                    required>
                            </div>
                        </div>


                        <div class="field">
                            <label class="label">Title</label>
                            <div class="control">
                                <input class="input" type="text" name='title' placeholder="title">
                            </div>
                        </div>



                        <div class="field">
                            <label class="label">Status</label>
                            <div class="control">
                                <input class="input" type="text" name='status' placeholder="Status" required>
                            </div>
                        </div>


                        <div class="field">
                            <label class="label">Frequency</label>
                            <div class="control">
                                <input class="input" type="text" name='frequency' placeholder="Frequency" required>
                            </div>
                        </div>

                        <div class="control">
                            <button class="button is-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>

    <div>

    </div>
</div>

{% endblock sub_main %}